.welcome-h1{
    margin-top: 150px !important;
    margin-left: 120px;
}


.carousel-item-container {
    height: 500px;
}

.carousel-body .carousel-item-container {
    border-radius: 30px;
    overflow: hidden;
    border-style: solid;
}

.carousel-body .carousel-item-container img {
    border-radius: 30px;
}


.carousel-caption {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right !important;
    padding: 0 50px;
    border-radius: 5px;
    color: #333;
}

.carousel-caption p {
    max-width: 400px;
    margin-left: auto;
}

.carousel-caption button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.carousel-caption button:hover {
    background-color: #ffcf40;
    color: #333;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.card-color {
    background-color: #584528!important;
}

.circle-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-us-container{
    margin-bottom: 100px;
}

.carousel-body img{
    filter: brightness(70%);
}