body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.centerAll{
  justify-content: center;
  align-items: center;
  place-items: center;
}

.fontwhite{
  text-decoration: none;
  color: #ffffff;
}

.buttonhover{
text-decoration: none;
}

.buttonhover:hover{
  background-image: linear-gradient(to right, #F97B22, #FEE8B0); 
  padding: 0.5rem;
}

.fontblack{
  color: black;
}

.productDivContainer{
  display: inline-flex;
  height: 15rem;
  width: 20rem;  
}

.shopDivContainer{
  display: inline-flex;
  height: 15rem;
  width: 20rem; 
}

.productCard{
  display: block; 
}